@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-passive: #f0f0f0;
  --background-active: #d0d0d0;
  --background-highlight: #e0e0e0;
  --foreground-primary: #090909;
  --foreground-secondary: #4583fa;
  --code-regular: #000;
  --code-symbol-declaration: #4583fa;
  --code-type-name: #2eb990;
  --code-function: #7c7b4a;
  --code-control-flow: #c556c0;
  --code-value: #859e78;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-passive: #090909;
    --background-active: #292929;
    --background-highlight: #191919;
    --foreground-primary: #f0f0f0;
    --foreground-secondary: #2563ea;
    --code-regular: #fff;
    --code-symbol-declaration: #2563ea;
    --code-type-name: #3eb9a0;
    --code-function: #cccc9a;
    --code-control-flow: #c586c0;
    --code-value: #b5cea8;
  }
}

body {
  color: var(--foreground-primary);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
